*.iml
.gradle
/local.properties
/.idea/
/.vscode/
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.rar
*.zip
temp_*.txt
test_encoding.txt
tmp_recovery/
tmp_recovery_panificadora/
temp_images/
LUNES
app/Product-Mix-main - opcion 2.code-workspace
inventario_app.code-workspace
inventario_app_compilacion.zip
/archive/
/docs/
/scripts/
/tools/
/search.ps1
/ejecutar_actualizacion_v2.1.104.ps1
/pedido_fabrica_func.txt
/pedido_fabrica_func_formatted.txt
ProductMix_Web_Hosting/
COMPILAR_Y_SUBIR_APK.bat
README.md
